body {
    display: flex;
    flex-direction: row;
}

#izvlacenje {
    text-align: center;
    font-size: 400px;
    font-weight: 500;
    width: 500px;
    height: 500px;
    margin: 50px;
    border-radius: 100%;
    border: solid red 5px;
    background-color: #ffee78;
    padding: 50px;
}

#sviBrojevi span {
    font-size: 80px;
}

#sviBrojevi {
    border-left: solid red 20px;
    text-align: left;
    margin: auto;
    padding-left: 50px;
    font-size: 70px;
    width: 40%;
    color: #6b6b6b;
}

div span {
    text-decoration-line: underline;
    color: red;
    font-weight: 700;
}